/*Override some default styles of Semantic UI*/

/*highlight of invalid input fields*/
.ui.form .ui.error.input input {
  border-color: firebrick;
  color: indianred;
}

/*place a close icon relative to the modal*/
.ui.modal {
  position: relative;
}
